.alert {
  margin: 20px 0;
  padding: 10px 15px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;

  i {
    margin-right: 10px;
  }

  a {
    text-decoration: underline;
  }

  &.alert-info {
    border-color: #a4b2bc;
    color: #6a8496;
  }

  &.alert-error {
    border-color: #d9a5a5;
    color: #aa6d6e;
  }

  &.alert-success {
    border-color: #96cd9b;
    color: #62aa95;
  }
}
