.alert {
  padding: 10px 15px;

  border-width: 1px;
  border-style: solid;
  border-radius: 5px;

  i {
    margin-right: 20px;
  }

  a {
    text-decoration: underline;
  }

  &.info {
    color: #6a8496;
    border-color: #a4b2bc;
  }

  &.error {
    color: #aa6d6e;
    border-color: #d9a5a5;
  }

  &.success {
    color: #62aa95;
    border-color: #96cd9b;
  }
}
