.avatar {
  position: relative;

  display: inline-block;

  width: 30px;
  height: 30px;

  text-align: center;

  border-radius: 50%;

  img, i {
    width: 100%;
    height: 100%;

    vertical-align: top;

    border-radius: 50%;
  }

  i {
    font-size: 13px;
    line-height: 31px;

    display: inline-block;

    vertical-align: top;

    color: #fff;
    background-color: #50566a;

    &.hidden {
      display: none;
    }

    &.private {
      font-size: 12px;
      line-height: 20px;

      position: absolute;
      right: -5px;
      bottom: -5px;

      width: 50%;
      height: 50%;

      color: #b0b0b0;
      background-color: #fff !important;
    }
  }

  &.mini {
    width: 15px;
    height: 15px;

    i {
      font-size: 8px;
      line-height: 15px;
    }
  }

  &.tiny {
    width: 20px;
    height: 20px;

    i {
      font-size: 10px;
      line-height: 20px;

      &.private {
        font-size: 8px;
        line-height: 12px;

        right: -4px;
        bottom: -4px;
      }
    }
  }

  &.small {
    width: 30px;
    height: 30px;

    i {
      font-size: 12px;
      line-height: 30px;

      &.private {
        line-height: 20px;

        right: -10px;

        width: 60%;
        height: 60%;
      }
    }
  }

  &.medium {
    width: 80px;
    height: 80px;

    i {
      font-size: 30px;
      line-height: 80px;

      &.private {
        font-size: 24px;
        line-height: 40px;

        right: -10px;
        bottom: -10px;
      }
    }
  }

  &.large {
    width: 100px;
    height: 100px;

    i {
      font-size: 30px;
      line-height: 100px;
    }
  }

  &.default-alt i {
    background-color: #d4d4d4;
  }

  &.blue i {
    background-color: #3589c4;
  }

  &.green i {
    background-color: #abce00;
  }

  &.red i {
    background-color: #e5163d;
  }

  &.orange i {
    background-color: #ff9500;
  }

  &.turquoise i {
    background-color: #00d9a3;
  }

  &.purple i {
    background-color: #623494;
  }
}
