.button {
  display: inline-block;
  padding: 0 15px;
  border: 1px solid #b4bcc3;
  border-radius: 2px;
  background: #fff;
  color: $alt-link-color;
  font-size: 14px;
  font-weight: bold;
  line-height: 34px;

  // Icon styles
  &.button-icon-only .icons:first-of-type {
    margin-right: 0;
  }

  &.is-loading {
    position: relative;
    cursor: default;

    img {
      top: 6px;
      height: 22px;
    }

    .spinner {
      display: inline;
      position: absolute;
      right: 0;
      left: -1px;
      margin: 0 auto;
      line-height: inherit;
      opacity: 0.8;
    }

    .text {
      visibility: hidden;
    }
  }

  .spinner {
    display: none;
  }

  > .icons {
    margin-right: 4px; /* should be 10px but until we fix the whitespace issue */
    line-height: initial;
  }

  // State styles
  &:hover, &:active {
    border-color: #98a1a7;
    background: #fdfdfd;
    text-decoration: none;
  }

  &:hover {
    color: $alt-link-hover-color;
  }

  &:active {
    box-shadow: inset 0 1px 1px 0 #d9dee2;
  }

  // Sizes & types
  &.button-small {
    padding: 0 10px;
    font-size: 12px;
    line-height: 26px;

    &.button-icon-only .icons:first-of-type {
      margin-right: 0;
    }

    &.is-loading img {
      top: 5px;
      height: 16px;
    }

    > .icons {
      font-size: 12px;
    }
  }

  &.button-xsmall {
    padding: 0 10px;
    font-size: 11px;
    line-height: 20px;

    &.button-icon-only .icons:first-of-type {
      margin-right: 0;
    }

    &.is-loading img {
      top: 3px;
      height: 14px;
    }

    > .icons {
      font-size: 11px;
    }
  }

  &.button-primary {
    border-color: $default-link-color;
    background: $default-link-color;
    color: #fff;

    &:hover {
      border-color: $default-link-hover-color;
      background: $default-link-hover-color;
    }

    &:active {
      background: $default-link-hover-color;
      box-shadow: inset 0 1px 1px 0 #1f84bd;
    }
  }

  // TODO: feels hacky - convert into button groups?
  &.button-addon {
    position: relative;
    padding-right: 54px;

    &.button-small {
      padding-right: 44px;
    }

    &.button-xsmall {
      padding-right: 40px;
    }

    > span:last-of-type {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      width: auto;
      min-width: 30px;
      min-height: 100%;
      padding: 0 5px;
      border-left: 1px solid #e9eced;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      background-color: #f7f7f7;
      text-align: center;
    }

    &.button-primary > span:last-of-type {
      top: -1px;
      right: -1px;
      bottom: -1px;
      border: 1px solid #b4bcc3;
      border-left: 0;
      background-color: #f7f7f7;
      color: $alt-link-color;
    }
  }

  &.button-secondary {
    padding: 0;
    border: transparent;
    background: transparent;
    font-weight: inherit;
    line-height: inherit;

    &:active {
      box-shadow: none;
    }

    .avatar {
      margin-right: 10px;
    }

    &.button-icon-only .avatar {
      margin-right: 0;
    }

    &.is-loading img {
      top: 1px;
    }
  }
}

.button-group .button {
  &.button-primary {
    &.disabled {
      border-color: $default-link-color !important;
      color: #fff !important;
    }
  }

  &.button-primary.button-icon-only {
    &.disabled {
      border-left: 1px solid #0088d2 !important;
    }
  }

  &.disabled {
    border-color: #b4bcc3 !important;
    color: $grey2 !important;
  }

  &.active {
    border-color: #98a1a7;
    color: $active-color;

    &:hover {
      border-color: #98a1a7;
      background: #fdfdfd;
    }
  }

  &:first-of-type:not(:only-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:last-of-type:not(:only-of-type) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &.button-primary:not(:first-of-type), &.button-primary:only-child {
      border-left: 1px solid #0088d2;
    }
  }

  &:not(:first-of-type):not(:last-of-type) {
    border-radius: 0;

    &.button-primary {
      border-left: 1px solid #0088d2;
    }
  }

  &:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}

.button-group-alt .button {
  border-color: #fff;

  &.active {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #fff;
    border-bottom-color: $active-color;
    color: $active-color;

    &:hover {
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-color: #fff;
      border-bottom-color: $active-color;
      background: #fff;
    }
  }

  &.button-xsmall {
    margin: 0 5px;
    padding: 0;
  }

  &:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:not(:first-of-type):not(:last-of-type) {
    border-radius: 0;
  }
}

.button-group .button-dropdown {
  height: 36px;
  padding: 0 10px;

  &.button-small {
    height: 28px;
    padding: 0 8px;
  }

  &.button-xsmall {
    height: 22px;
    padding: 0 5px;
  }

  > .icons:last-of-type {
    margin: 0;
  }
}

// Nested groups

.button-group > .button-group {
  display: inline-block;
}

.button-group {
  .button + .button-group,
  .button-group + .button-group {
    > .button-primary {
      border-left: 1px solid #0088d2;
    }
  }
}

.button-group {
  .button + .button {
    border-left: 0;
  }

  .button-group + .button-group,
  .button + .button-group {
    margin-left: -1px;

    .button:first-of-type:not(:only-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .button:first-of-type:not(:only-child) {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}

// layout responsiveness

@media handheld, only screen and (max-width: 940px) {
  .button {
    &.button-small {
      font-size: 11px;
    }

    &.button-addon {

      &.button-small {
        padding-right: 35px;
      }

      > span {
        display: none;
      }
    }
  }
}

@media handheld, only screen and (max-width: 640px) {

}
