.button {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  background: #FFF;
  color: #5D5F68;
  border: 2px solid #C2C2C2;
  border-radius: 5px;
  vertical-align: middle;
  display: inline-block;
  padding: rem(10px) rem(20px);
  line-height: rem(16px);
  height: rem(40px);

  i:first-child {
    font-size: 16px;
    margin-right: rem(10px);
  }

  &.icon-only {
    padding: rem(10px) rem(14px);

    i:first-child {
      margin-right: 0;
    }
  }

  &:hover {
    color: #43454C;
    border: 2px solid #A9A9A9;
  }

  &.small {
    padding: rem(10px) rem(18px);
    line-height: rem(10px);
    height: rem(34px);

    i:first-child {
      font-size: rem(14px);
      margin-right: rem(8px);
    }

    &.icon-only {
      padding: rem(8px) rem(12px);

      i:first-child {
        margin-right: 0;
      }
    }
  }

  &.secondary {
    border-color: transparent;
    background-color: transparent;

    padding: rem(7px);
  }

  &.primary {
    border-color: #D87F6F;
    color: #D87F6F;
    font-size: rem(11px);
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
      color: #CD5B47;
      border-color: #CD5B47;
    }

    &.disabled:hover {
      color: #D87F6F;
      border-color: #D87F6F;
    }
  }

  &.disabled {
    opacity: 0.5;
  }

  &.hidden {
    display: none;
  }
}
