// Borders
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, a, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  border-color: #fff;
}

// Layout elements

body {
  background: #fff;
}

.panel {
  background: #fff;
}

// Content

body {
  color: #5d5f68;
}

a {
  color: $default-link-color;

  i {
    text-decoration: none;
  }

  &:hover {
    color: $default-link-hover-color;
  }

  &.disabled {
    text-decoration: none;
  }
}

a:hover {
  color: $default-link-hover-color;
}

a.discreet, .discreet {
  color: #c2c2c2;

  &:hover {
    color: #c2c2c2;
  }
}

.discreet-alt {
  color: $discreet-alt;
}

