// Borders
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp, a,
small, strong, sub, sup, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  border-color: #fff;
}

// Layout elements

body {
  background: #f1f1f1;
}

.panel {
  background: #fff;
}

// Content

body {
  color: #5d5f68;
}

a {
  color: #369FCC;

  &.remove {
    color: #d87f6f;
  }
}

.menu a, a.discreet {
  color: inherit;
}

// Menus

ul.menu, .menu ul, ol.menu, .menu ol {
  > li {
    &.open, &.selected {
      background-color: #21323a;
    }

    a {
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

ul.menu ul, .menu ul ul, ol.menu ul, .menu ol ul, ul.menu ol, .menu ul ol, ol.menu ol, .menu ol ol {
  background: transparent;
}
