body {
  width: auto;
  height: 100%;
  margin: 0 auto;

  overflow-x: hidden;
}

// Content columns

.column {
  min-height: 1px;
  margin-right: 2%;
  float: left;
  clear: right;

  &.first, &.twelve {
    clear: both;
  }

  &.last, &.twelve {
    margin-right: 0;
  }

  &.right {
    margin-right: 0;
    float: right;
    clear: none;
  }

  // Widths

  &.one {
    width: 6.65%;
  }

  &.two {
    width: 14.45%;
  }

  &.three {
    width: 20.95%;
  }

  &.four {
    width: 25.6%;
  }

  &.five {
    width: 38%;
  }

  &.six {
    width: 49%;
  }

  &.seven {
    width: 60%;
  }

  &.eight {
    width: 72.4%;
  }

  &.nine {
    width: 77.05%;
  }

  &.ten {
    width: 83.55%;
  }

  &.eleven {
    width: 91.35%;
  }

  &.twelve {
    width: 100%;
  }
}

// Pull fixed columns from content

.clearfix {
  > .push {
    width: 100%;
    float: left;
    clear: none;

    > .content {
      margin-left: 100px;
    }
  }

  > .pull {
    width: 100px;
    margin-left: -100%;
    float: left;
    clear: none;
  }

  &.reverse {
    > .push > .content {
      margin-right: 100px;
      margin-left: 0;
    }

    > .pull {
      float: right;
    }
  }
}

// layout responsiveness

@media handheld, only screen and (min-width: 1480px) {
  .column {
    &.three {
      width: 15.05%;
    }

    &.nine {
      width: 82.05%;
    }
  }
}

@media handheld, (min-width: 1200px) and (max-width: 1479px) {
  .column {
    &.three {
      width: 17%;
    }

    &.nine {
      width: 81%;
    }
  }
}

@media handheld, only screen and (max-width: 767px) {
  .column {
    &.one {
      width: 100%;
    }

    &.two {
      width: 100%;
    }

    &.three {
      width: 100%;
    }

    &.four {
      width: 100%;
    }

    &.five {
      width: 100%;
    }

    &.six {
      width: 100%;
    }

    &.seven {
      width: 100%;
    }

    &.eight {
      width: 100%;
    }

    &.nine {
      width: 100%;
    }

    &.ten {
      width: 100%;
    }

    &.eleven {
      width: 100%;
    }

    &.twelve {
      width: 100%;
    }
  }
}
