body {
  width: auto;
  height: 100%;
  margin: 0 auto;

  overflow-x: hidden;
}

// Content columns

.column {
  min-height: 1px;
  margin-right: 3.8%;
  float: left;
  clear: right;

  &.first, &.twelve {
    clear: both;
  }

  &.last, &.twelve {
    margin-right: 0;
  }

  &.right {
    margin-right: 0;
    float: right;
    clear: none;
  }

  // Widths

  &.one {
    width: 4.85%;
  }

  &.two {
    width: 13.45%;
  }

  &.three {
    width: 22.05%;
  }

  &.four {
    width: 30.75%;
  }

  &.five {
    width: 39.45%;
  }

  &.six {
    width: 48%;
  }

  &.seven {
    width: 56.75%;
  }

  &.eight {
    width: 65.4%;
  }

  &.nine {
    width: 74.05%;
  }

  &.ten {
    width: 82.7%;
  }

  &.eleven {
    width: 91.35%;
  }

  &.twelve {
    width: 100%;
  }
}

// Pull fixed columns from content

.fixed {
  > .push {
    width: 100%;
    float: left;
    clear: none;

    > .content {
      margin-left: 120px;
    }
  }

  > .pull {
    width: 100px;
    margin-left: -100%;
    float: left;
    clear: none;
  }

  &.reverse {
    > .push > .content {
      margin-right: 120px;
      margin-left: 0;
    }

    > .pull {
      float: right;
    }
  }
}

// Smaller screens
@media only screen and (max-width: 1023px) {
}

@media handheld, only screen and (max-width: 767px) {
}
