.deactivated {
  opacity: 0.4;
}

.render-error {
  .icon-bot {
    font-size: 2em;

    padding-right: 15px;
  }

  &.task {
    .icon-bot {
      color: #444;
    }
  }
}

.thumbnail {
  width: 40px;
  height: 40px;

  &.small {
    width: 30px;
    height: 30px;
  }

  &.medium {
    width: 60px;
    height: 60px;
  }

  &.large {
    width: 100px;
    height: 100px;
  }

  &.circle {
    vertical-align: middle;

    border-radius: 50%;

    > img {
      vertical-align: middle;

      border-radius: 50%;
    }
  }
}

.truncate {
  overflow: hidden;

  width: 100%;

  white-space: nowrap;
  text-overflow: ellipsis;
}
