@import 'reset';

@import 'functions';
@import 'mixins';

@import 'blocks';
@import 'colors';
@import 'columns';
@import 'common';
@import 'forms';
@import 'functions';
@import 'shadows';
@import 'syntax';
@import 'transitions';
@import 'typography';

@import 'alerts';
@import 'avatars';
@import 'buttons';
@import 'dropdowns';
@import 'icons';
@import 'labels';
@import 'menus';

.container {
  margin: 50px auto;
  padding: 1em 2em;
  background-color: #fff;
  width: 800px;
  min-height: 100%;
}
