// TODO: Rename to .dropdown for simplicity when the old implemention has been
//       ditched
.deveo-dropdown {
  position: relative;

  display: inline-block;

  .trigger .icons {
    &.icon-interaction-down, &.icon-interaction-up {
      font-size: rem(10px);

      margin-left: rem(16px);
    }
  }

  &.open .menu {
    display: block;
  }

  &.right .menu {
    right: 0;

    &:before, &:after {
      right: 6px;
      left: initial;
    }
  }

  // TODO: Rename to .dropdown-menu to avoid collisions?
  .menu {
    // TODO: Class definition instead of Sass mixin?
    @include tip-top;

    position: absolute;
    z-index: 75;

    display: none;

    margin-top: rem(15px);
    padding: 0;

    white-space: nowrap;

    border: 2px solid #d4d4d4;
    border-radius: 5px;
    background-color: #fff;

    // TODO: What's this?
    &.inline > li {
      &.selected, a:hover {
        background-color: transparent;
      }
    }

    li {
      // TODO: Do we use .selected somewhere?
      &.selected, a:hover, label:hover {
        color: #43454c;
        background-color: #f1f1f1;
      }

      a, label {
        font-weight: bold;
        line-height: rem(16px);

        display: block;

        padding: rem(10px) rem(20px);

        // TODO: What do we use .disabled for?
        &.disabled {
          color: #8394a0;

          &:hover {
            background: transparent;
          }
        }
      }

      label {
        padding-left: rem(10px);
      }
    }
  }
}
