.dropdown {
  display: inline-block;
  position: relative;

  .trigger .icons {
    &.icon-interaction-down, &.icon-interaction-up {
      margin-left: 10px;
      padding-left: 0;

      font-size: 10px;
    }
  }

  &.open .menu {
    display: block;
  }

  &.right .menu {
    right: 0;

    &:before, &:after {
      right: 6px;
      left: initial;
    }
  }

  .secondary {
    span {
      &.text {
        padding-left: 0;
      }
    }
  }

  // TODO: Rename to .dropdown-menu to avoid collisions?
  .menu {
    // TODO: Class definition instead of Sass mixin?
    @include tip-top;

    display: none;
    position: absolute;
    min-width: 140px;
    max-height: 255px;
    margin-top: rem(15px);
    padding: 5px 0;

    border: 1px solid #b3bcc3;
    border-radius: 4px;

    background-color: #fff;

    white-space: nowrap;

    z-index: 75;

    // TODO: What's this?
    &.inline > li {
      &.selected, a:hover {
        background-color: transparent;
      }
    }

    li {
      // TODO: Do we use .selected somewhere?
      &.selected, a:hover, label:hover {
        background-color: #f1f1f1;

        color: #43454c;
      }

      a, label {
        display: block;
        padding: 8px 15px;

        color: $alt-link-color;
        font-weight: bold;
        line-height: rem(14px);

        &:hover {
          color: $alt-link-hover-color;
          text-decoration: none;
        }

        // TODO: What do we use .disabled for?
        &.disabled {
          color: #8394a0;

          &:hover {
            background: transparent;
          }
        }
      }

      label {
        padding-left: rem(10px);
      }
    }
  }
}
