.dropdown {
  display: none;
  position: absolute;
  min-width: 140px;
  margin-top: rem(10px);
  padding: 0;
  padding: rem(5px) 0;

  border: 1px solid #b3bcc3;
  border-radius: 4px;

  background-color: #fff;

  white-space: nowrap;

  z-index: 75;

  ul.menu, .menu ul {
    max-height: 255px;
    margin-bottom: 0;

    overflow: auto;

    @include tip-top;

    > li {
      &.selected, a:hover {
        background-color: #f1f1f1;

        color: $alt-link-hover-color;
      }

      a {
        padding: 8px 15px;

        color: $alt-link-color;
        font-weight: bold;
        line-height: rem(14px);

        &:hover {
          color: $alt-link-hover-color;
        }

        &.disabled {
          color: #8394a0;

          &:hover {
            background: transparent;
          }
        }

        span.avatar {
          i.icons {
            padding: 0;
          }
        }

        i.icons {
          padding-right: 10px;
        }
      }
    }

    &.inline {
      > li {
        &.selected, a:hover {
          background-color: transparent;
        }
      }
    }
  }

  &.right {
    ul.menu, .menu ul {
      &:before, &:after {
        right: 2px;
        left: initial;
      }
    }
  }

  &:hover {
    text-decoration: none;
  }
}
