.dropdown {
  display: none;
  position: absolute;
  z-index: 75;
  margin-top: rem(10px);
  white-space: nowrap;
  padding: 0;
  border: 1px solid #b3bcc3;
  border-radius: 4px;
  background-color: #FFF;
  padding: rem(5px) 0;
  min-width: 140px;

  ul.menu, .menu ul {
    @include tip-top;

    margin-bottom: 0;

    max-height: 255px;
    overflow: auto;

    > li {

      &.selected, a:hover {
        color: $alt-link-hover-color;
        background-color: #F1F1F1;
      }

      a {
        padding: 8px 15px;
        line-height: rem(14px);
        font-weight: bold;
        color: $alt-link-color;

        &:hover {
          color: $alt-link-hover-color;
        }

        &.disabled {
          color: #8394a0;

          &:hover {
            background: transparent;
          }
        }

        span.avatar {
          i.icons {
            padding: 0;
          }
        }

        i.icons {
          padding-right: 10px;
        }
      }
    }

    &.inline {
      > li {
        &.selected, a:hover {
          background-color: transparent;
        }
      }
    }
  }

  &.right {

    ul.menu, .menu ul {
      &:before,
      &:after {
        left: initial;
        right: 2px;
      }
    }
  }

  &:hover {
    text-decoration: none;
  }
}