form, .form {
  p {
    margin-top: 0;
  }

  p, .inline-group {
    margin-bottom: 20px;
  }

  .error {
    color: #ca4b4b;
  }

  span {
    &.error {
      display: block;
      margin: 5px 0;
    }
  }

  // NOTE: Resets pointer-events to display different cursor
  .disabled {
    pointer-events: auto;

    * {
      cursor: not-allowed;
    }
  }
}

// Inline form
// TODO: Align buttons with input

.form-inline {
  input, textarea {
    width: auto;
  }

  label {
    display: inline-block;
  }

  label + label {
    margin-left: 15px;
  }

  label > [type="text"] {
    margin: 0 5px;
  }
}

// Default styles for inputs and textareas
// TODO: Hover & focus styles for other elements
//       Disable hover & focus styles for disabled elements

input {
  &[type="text"], &[type="password"] {
    height: 36px;

    &.input-small {
      height: 28px;
    }
  }
}

input, textarea {
  width: 100%;
  margin-top: 5px;
  padding: 0 16px;
  border: 1px solid #b4bcc3;
  border-radius: 3px;
  background: #fff;
  color: $alt-link-color;

  // Reset border for IE
  &[type="checkbox"], &[type="radio"] {
    border: none;
  }

  &:hover {
    border-color: #98a1a7;
  }

  &:focus {
    border-color: #66afe9 !important;
    outline: 0;
    color: initial;
  }

  // Input states

  &.success {
    border-color: #96cd9b;
    color: #62aa95;
  }

  &.error {
    border-color: #d9a5a5;
    color: #ca4b4b;
  }

  &.success:focus, &.error:focus {
    border-color: initial;
    color: initial;
  }
}

textarea {
  padding: 7px 16px;
  line-height: initial;
  overflow: auto;
}

label {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
}

// Align checkbox / radio button to the left of label

[type="checkbox"], [type="radio"] {
  width: auto;
}

// Alt color for trigger labels

.label-alt {
  color: $default-link-color;

  &:hover {
    color: $default-link-hover-color;
  }
}

// Fit two inputs to the same row in default form

.inline-group {
  p, label, input {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
  }

  p:first-of-type {
    width: calc(50% - 10px);
    margin-right: 10px;
    float: left;
  }

  p:last-of-type {
    width: 50%;
  }
}

// Form actions

[type="submit"] {
  width: auto;
}

.button + .button {
  margin-left: 15px;
}

// TODO: Clean-up

.input-group {
  display: table;
  position: relative;
  width: 100%;
  border-collapse: separate;

  input {
    margin-top: 0;
  }

  input:not(:only-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  input:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  .input-group-addon {
    display: table-cell;
    width: 1%;
    min-width: 36px;
    padding: 0 5px;
    border: 1px solid #b4bcc3;
    border-radius: 3px;
    background-color: #f1f1f1;
    color: #555;
    text-align: center;
    vertical-align: middle;

    &.success {
      border-color: #96cd9b;
      background-color: #96cd9b;
      color: #fff;
    }

    &.error {
      border-color: #d9a5a5;
      background-color: #d9a5a5;
      color: #fff;
    }
  }

  .input-group-addon:first-child {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .input-group-addon:last-child {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.input-group-wrapper {
  margin-bottom: 20px;
}

[type='checkbox'], [type='radio'] {
  margin: 0 10px 0 0;
}

// Polyfill for browsers not supporting placeholder attr (IE9)

.placeholder {
  color: #999;
}

// TODO: Let autoprefixer handle these

::-webkit-input-placeholder { /* WebKit browsers */
  color: #999;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: #999;
 opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: #999;
 opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
 color: #999;
}
