.icon-accept-circle:before {content: "\f021";}
.icon-accept:before {content: "\f022";}
.icon-activity:before {content: "\f023";}
.icon-add-circle:before {content: "\f024";}
.icon-add:before {content: "\f025";}
.icon-api:before {content: "\f026";}
.icon-app:before {content: "\f027";}
.icon-around:before {content: "\f028";}
.icon-attachment:before {content: "\f029";}
.icon-attention:before {content: "\f02a";}
.icon-bot:before {content: "\f02b";}
.icon-box-package-alt:before {content: "\f02c";}
.icon-box-package-outline:before {content: "\f02d";}
.icon-box-package:before {content: "\f02e";}
.icon-branch:before {content: "\f02f";}
.icon-build-alt:before {content: "\f030";}
.icon-build-fail-alt:before {content: "\f031";}
.icon-build-fail:before {content: "\f032";}
.icon-build-success-alt:before {content: "\f033";}
.icon-build-success:before {content: "\f034";}
.icon-build:before {content: "\f035";}
.icon-calendar:before {content: "\f036";}
.icon-cancel:before {content: "\f037";}
.icon-check:before {content: "\f038";}
.icon-circle-notification:before {content: "\f039";}
.icon-circle-outline:before {content: "\f03a";}
.icon-circle:before {content: "\f03b";}
.icon-clipboard:before {content: "\f03c";}
.icon-clone-code:before {content: "\f03d";}
.icon-cloud-outline:before {content: "\f03e";}
.icon-cloud:before {content: "\f03f";}
.icon-code-review:before {content: "\f040";}
.icon-code:before {content: "\f041";}
.icon-comment-outline:before {content: "\f042";}
.icon-comment:before {content: "\f043";}
.icon-comments-alt:before {content: "\f044";}
.icon-company:before {content: "\f045";}
.icon-compare:before {content: "\f046";}
.icon-contacts-outline:before {content: "\f047";}
.icon-contacts:before {content: "\f048";}
.icon-dashboard-outline:before {content: "\f049";}
.icon-dashboard:before {content: "\f04a";}
.icon-deveo:before {content: "\f04b";}
.icon-directory-link-outline:before {content: "\f04c";}
.icon-directory-link2-outline:before {content: "\f04d";}
.icon-directory-new-outline:before {content: "\f04e";}
.icon-directory-outline:before {content: "\f04f";}
.icon-directory:before {content: "\f050";}
.icon-document-archive:before {content: "\f051";}
.icon-document-landscape-unknown:before {content: "\f052";}
.icon-document-landscape:before {content: "\f053";}
.icon-document-new:before {content: "\f054";}
.icon-document-template:before {content: "\f055";}
.icon-document-text-new:before {content: "\f056";}
.icon-document-text:before {content: "\f057";}
.icon-document:before {content: "\f058";}
.icon-dots:before {content: "\f059";}
.icon-edit-alt:before {content: "\f05a";}
.icon-edit-outline:before {content: "\f05b";}
.icon-edit:before {content: "\f05c";}
.icon-editor:before {content: "\f05d";}
.icon-eficode:before {content: "\f05e";}
.icon-evt_add_app:before {content: "\f05f";}
.icon-evt_add_attachment:before {content: "\f060";}
.icon-evt_add_bot:before {content: "\f061";}
.icon-evt_add_branch:before {content: "\f062";}
.icon-evt_add_group-outline:before {content: "\f063";}
.icon-evt_add_group:before {content: "\f064";}
.icon-evt_add_issues:before {content: "\f065";}
.icon-evt_add_page:before {content: "\f066";}
.icon-evt_add_project:before {content: "\f067";}
.icon-evt_add_pull:before {content: "\f068";}
.icon-evt_add_push:before {content: "\f069";}
.icon-evt_add_repository:before {content: "\f06a";}
.icon-evt_add_tag-alt:before {content: "\f06b";}
.icon-evt_add_tag:before {content: "\f06c";}
.icon-evt_add_user-collab:before {content: "\f06d";}
.icon-evt_add_user-outline:before {content: "\f06e";}
.icon-evt_add_user:before {content: "\f06f";}
.icon-evt_remove_app:before {content: "\f070";}
.icon-evt_remove_attachment:before {content: "\f071";}
.icon-evt_remove_bot:before {content: "\f072";}
.icon-evt_remove_branch:before {content: "\f073";}
.icon-evt_remove_group-outline:before {content: "\f074";}
.icon-evt_remove_group:before {content: "\f075";}
.icon-evt_remove_issues:before {content: "\f076";}
.icon-evt_remove_page:before {content: "\f077";}
.icon-evt_remove_project:before {content: "\f078";}
.icon-evt_remove_pull:before {content: "\f079";}
.icon-evt_remove_push:before {content: "\f07a";}
.icon-evt_remove_repository:before {content: "\f07b";}
.icon-evt_remove_tag-alt:before {content: "\f07c";}
.icon-evt_remove_tag:before {content: "\f07d";}
.icon-evt_remove_user-collab:before {content: "\f07e";}
.icon-evt_remove_user-outline:before {content: "\f07f";}
.icon-evt_remove_user:before {content: "\f080";}
.icon-evt_update_edit_issues:before {content: "\f081";}
.icon-evt_update_issues:before {content: "\f082";}
.icon-evt_update_text_issues:before {content: "\f083";}
.icon-evt_user_settings:before {content: "\f084";}
.icon-feed:before {content: "\f085";}
.icon-fullscreen:before {content: "\f086";}
.icon-git:before {content: "\f087";}
.icon-globe:before {content: "\f088";}
.icon-group-alt-outline:before {content: "\f089";}
.icon-group-alt:before {content: "\f08a";}
.icon-group-outline:before {content: "\f08b";}
.icon-group:before {content: "\f08c";}
.icon-handshake-outline:before {content: "\f08d";}
.icon-heart-outline:before {content: "\f08e";}
.icon-help-alt:before {content: "\f08f";}
.icon-help:before {content: "\f090";}
.icon-hook:before {content: "\f091";}
.icon-image-new:before {content: "\f092";}
.icon-image:before {content: "\f093";}
.icon-info-alt:before {content: "\f094";}
.icon-info-circle:before {content: "\f095";}
.icon-info:before {content: "\f096";}
.icon-interaction-double-down:before {content: "\f097";}
.icon-interaction-double-left:before {content: "\f098";}
.icon-interaction-double-right:before {content: "\f099";}
.icon-interaction-double-up:before {content: "\f09a";}
.icon-interaction-down-circle:before {content: "\f09b";}
.icon-interaction-down:before {content: "\f09c";}
.icon-interaction-left-circle:before {content: "\f09d";}
.icon-interaction-left:before {content: "\f09e";}
.icon-interaction-right-circle:before {content: "\f09f";}
.icon-interaction-right:before {content: "\f0a0";}
.icon-interaction-up-circle:before {content: "\f0a1";}
.icon-interaction-up:before {content: "\f0a2";}
.icon-iphone:before {content: "\f0a3";}
.icon-issues:before {content: "\f0a4";}
.icon-key:before {content: "\f0a5";}
.icon-lock-closed:before {content: "\f0a6";}
.icon-lock-open:before {content: "\f0a7";}
.icon-mercurial:before {content: "\f0a8";}
.icon-message-outline:before {content: "\f0a9";}
.icon-message:before {content: "\f0aa";}
.icon-milestone:before {content: "\f0ab";}
.icon-music:before {content: "\f0ac";}
.icon-overview:before {content: "\f0ad";}
.icon-page-text:before {content: "\f0ae";}
.icon-page:before {content: "\f0af";}
.icon-pirate:before {content: "\f0b0";}
.icon-preview-alt:before {content: "\f0b1";}
.icon-preview:before {content: "\f0b2";}
.icon-project-outline:before {content: "\f0b3";}
.icon-project:before {content: "\f0b4";}
.icon-pull:before {content: "\f0b5";}
.icon-push:before {content: "\f0b6";}
.icon-puzzle-outline:before {content: "\f0b7";}
.icon-puzzle:before {content: "\f0b8";}
.icon-quit:before {content: "\f0b9";}
.icon-refresh-alt:before {content: "\f0ba";}
.icon-refresh:before {content: "\f0bb";}
.icon-remove-circle:before {content: "\f0bc";}
.icon-remove-thin:before {content: "\f0bd";}
.icon-remove:before {content: "\f0be";}
.icon-repository-deveo-outline:before {content: "\f0bf";}
.icon-repository-deveo:before {content: "\f0c0";}
.icon-repository-outline:before {content: "\f0c1";}
.icon-repository:before {content: "\f0c2";}
.icon-rocket-outline:before {content: "\f0c3";}
.icon-rocket:before {content: "\f0c4";}
.icon-save:before {content: "\f0c5";}
.icon-search:before {content: "\f0c6";}
.icon-settings-alt:before {content: "\f0c7";}
.icon-settings-outline-alt:before {content: "\f0c8";}
.icon-settings:before {content: "\f0c9";}
.icon-snapshot:before {content: "\f0ca";}
.icon-social-circle-dribbble:before {content: "\f0cb";}
.icon-social-circle-facebook:before {content: "\f0cc";}
.icon-social-circle-google-plus:before {content: "\f0cd";}
.icon-social-circle-linkedin:before {content: "\f0ce";}
.icon-social-circle-rss:before {content: "\f0cf";}
.icon-social-circle-twitter-alt:before {content: "\f0d0";}
.icon-social-circle-twitter:before {content: "\f0d1";}
.icon-social-dribbble:before {content: "\f0d2";}
.icon-social-facebook:before {content: "\f0d3";}
.icon-social-google-plus:before {content: "\f0d4";}
.icon-social-linkedin:before {content: "\f0d5";}
.icon-social-rss:before {content: "\f0d6";}
.icon-social-twitter-alt:before {content: "\f0d7";}
.icon-social-twitter:before {content: "\f0d8";}
.icon-star-outline:before {content: "\f0d9";}
.icon-star:before {content: "\f0da";}
.icon-storage-rack-big:before {content: "\f0db";}
.icon-storage-rack:before {content: "\f0dc";}
.icon-storage:before {content: "\f0dd";}
.icon-story:before {content: "\f0de";}
.icon-subtract:before {content: "\f0df";}
.icon-subversion:before {content: "\f0e0";}
.icon-tag-alt:before {content: "\f0e1";}
.icon-tag:before {content: "\f0e2";}
.icon-task:before {content: "\f0e3";}
.icon-text:before {content: "\f0e4";}
.icon-thumbup-outline:before {content: "\f0e5";}
.icon-timer-check:before {content: "\f0e6";}
.icon-tip-outline:before {content: "\f0e7";}
.icon-tip:before {content: "\f0e8";}
.icon-trash-outline:before {content: "\f0e9";}
.icon-trash:before {content: "\f0ea";}
.icon-twitter:before {content: "\f0eb";}
.icon-update-alt:before {content: "\f0ec";}
.icon-update:before {content: "\f0ed";}
.icon-upload:before {content: "\f0ee";}
.icon-user-collab-outline:before {content: "\f0ef";}
.icon-user-collab:before {content: "\f0f0";}
.icon-user-dashed:before {content: "\f0f1";}
.icon-user-edit:before {content: "\f0f2";}
.icon-user-outline:before {content: "\f0f3";}
.icon-user-profile:before {content: "\f0f4";}
.icon-user:before {content: "\f0f5";}
.icon-video:before {content: "\f0f6";}
.icon-watch:before {content: "\f0f7";}
.icon-webdav:before {content: "\f0f8";}
.icon-wiki-edit:before {content: "\f0f9";}
.icon-wiki:before {content: "\f0fa";}
