.icon-accept-circle:before {content: "\f021";}
.icon-accept:before {content: "\f022";}
.icon-activity:before {content: "\f023";}
.icon-add:before {content: "\f024";}
.icon-api:before {content: "\f025";}
.icon-app:before {content: "\f026";}
.icon-around:before {content: "\f027";}
.icon-attachment:before {content: "\f028";}
.icon-attention:before {content: "\f029";}
.icon-bot:before {content: "\f02a";}
.icon-branch:before {content: "\f02b";}
.icon-build-alt:before {content: "\f02c";}
.icon-build-fail-alt:before {content: "\f02d";}
.icon-build-fail:before {content: "\f02e";}
.icon-build-success-alt:before {content: "\f02f";}
.icon-build-success:before {content: "\f030";}
.icon-build:before {content: "\f031";}
.icon-calendar:before {content: "\f032";}
.icon-cancel:before {content: "\f033";}
.icon-clipboard:before {content: "\f034";}
.icon-clone-code:before {content: "\f035";}
.icon-cloud-outline:before {content: "\f036";}
.icon-cloud:before {content: "\f037";}
.icon-code:before {content: "\f038";}
.icon-comment-outline:before {content: "\f039";}
.icon-comment:before {content: "\f03a";}
.icon-company:before {content: "\f03b";}
.icon-dashboard-outline:before {content: "\f03c";}
.icon-dashboard:before {content: "\f03d";}
.icon-deveo:before {content: "\f03e";}
.icon-directory-new-outline:before {content: "\f03f";}
.icon-directory-outline:before {content: "\f040";}
.icon-directory:before {content: "\f041";}
.icon-document-new:before {content: "\f042";}
.icon-document-text-new:before {content: "\f043";}
.icon-document-text:before {content: "\f044";}
.icon-document:before {content: "\f045";}
.icon-dots:before {content: "\f046";}
.icon-edit-outline:before {content: "\f047";}
.icon-edit:before {content: "\f048";}
.icon-eficode:before {content: "\f049";}
.icon-evt_add_app:before {content: "\f04a";}
.icon-evt_add_attachment:before {content: "\f04b";}
.icon-evt_add_bot:before {content: "\f04c";}
.icon-evt_add_branch:before {content: "\f04d";}
.icon-evt_add_group-outline:before {content: "\f04e";}
.icon-evt_add_group:before {content: "\f04f";}
.icon-evt_add_page:before {content: "\f050";}
.icon-evt_add_project:before {content: "\f051";}
.icon-evt_add_pull:before {content: "\f052";}
.icon-evt_add_push:before {content: "\f053";}
.icon-evt_add_repository:before {content: "\f054";}
.icon-evt_add_tag-alt:before {content: "\f055";}
.icon-evt_add_tag:before {content: "\f056";}
.icon-evt_add_user-outline:before {content: "\f057";}
.icon-evt_add_user:before {content: "\f058";}
.icon-evt_remove_app:before {content: "\f059";}
.icon-evt_remove_attachment:before {content: "\f05a";}
.icon-evt_remove_bot:before {content: "\f05b";}
.icon-evt_remove_branch:before {content: "\f05c";}
.icon-evt_remove_group-outline:before {content: "\f05d";}
.icon-evt_remove_group:before {content: "\f05e";}
.icon-evt_remove_page:before {content: "\f05f";}
.icon-evt_remove_project:before {content: "\f060";}
.icon-evt_remove_pull:before {content: "\f061";}
.icon-evt_remove_push:before {content: "\f062";}
.icon-evt_remove_repository:before {content: "\f063";}
.icon-evt_remove_tag-alt:before {content: "\f064";}
.icon-evt_remove_tag:before {content: "\f065";}
.icon-evt_remove_user-outline:before {content: "\f066";}
.icon-evt_remove_user:before {content: "\f067";}
.icon-feed:before {content: "\f068";}
.icon-fullscreen:before {content: "\f069";}
.icon-git:before {content: "\f06a";}
.icon-group-alt-outline:before {content: "\f06b";}
.icon-group-alt:before {content: "\f06c";}
.icon-group-outline:before {content: "\f06d";}
.icon-group:before {content: "\f06e";}
.icon-help-alt:before {content: "\f06f";}
.icon-help:before {content: "\f070";}
.icon-hook:before {content: "\f071";}
.icon-image-new:before {content: "\f072";}
.icon-image:before {content: "\f073";}
.icon-info-alt:before {content: "\f074";}
.icon-info-circle:before {content: "\f075";}
.icon-info:before {content: "\f076";}
.icon-interaction-double-down:before {content: "\f077";}
.icon-interaction-double-left:before {content: "\f078";}
.icon-interaction-double-right:before {content: "\f079";}
.icon-interaction-double-up:before {content: "\f07a";}
.icon-interaction-down-circle:before {content: "\f07b";}
.icon-interaction-down:before {content: "\f07c";}
.icon-interaction-left-circle:before {content: "\f07d";}
.icon-interaction-left:before {content: "\f07e";}
.icon-interaction-right-circle:before {content: "\f07f";}
.icon-interaction-right:before {content: "\f080";}
.icon-interaction-up-circle:before {content: "\f081";}
.icon-interaction-up:before {content: "\f082";}
.icon-issues-alt:before {content: "\f083";}
.icon-issues-alt2:before {content: "\f084";}
.icon-issues-alt3:before {content: "\f085";}
.icon-issues-alt4:before {content: "\f086";}
.icon-issues-alt5:before {content: "\f087";}
.icon-issues:before {content: "\f088";}
.icon-key:before {content: "\f089";}
.icon-lock-closed:before {content: "\f08a";}
.icon-lock-open:before {content: "\f08b";}
.icon-mercurial:before {content: "\f08c";}
.icon-message-outline:before {content: "\f08d";}
.icon-message:before {content: "\f08e";}
.icon-milestone:before {content: "\f08f";}
.icon-overview:before {content: "\f090";}
.icon-page-text:before {content: "\f091";}
.icon-page:before {content: "\f092";}
.icon-pirate:before {content: "\f093";}
.icon-preview:before {content: "\f094";}
.icon-project-outline:before {content: "\f095";}
.icon-project:before {content: "\f096";}
.icon-pull:before {content: "\f097";}
.icon-push:before {content: "\f098";}
.icon-quit:before {content: "\f099";}
.icon-refresh:before {content: "\f09a";}
.icon-remove-circle:before {content: "\f09b";}
.icon-remove-thin:before {content: "\f09c";}
.icon-remove:before {content: "\f09d";}
.icon-repository-outline:before {content: "\f09e";}
.icon-repository:before {content: "\f09f";}
.icon-search:before {content: "\f0a0";}
.icon-settings-alt:before {content: "\f0a1";}
.icon-settings-outline-alt:before {content: "\f0a2";}
.icon-settings:before {content: "\f0a3";}
.icon-snapshot:before {content: "\f0a4";}
.icon-star-outline:before {content: "\f0a5";}
.icon-star:before {content: "\f0a6";}
.icon-story:before {content: "\f0a7";}
.icon-subtract:before {content: "\f0a8";}
.icon-subversion:before {content: "\f0a9";}
.icon-tag-alt:before {content: "\f0aa";}
.icon-tag:before {content: "\f0ab";}
.icon-task:before {content: "\f0ac";}
.icon-text:before {content: "\f0ad";}
.icon-tip:before {content: "\f0ae";}
.icon-trash-outline:before {content: "\f0af";}
.icon-trash:before {content: "\f0b0";}
.icon-twitter:before {content: "\f0b1";}
.icon-update:before {content: "\f0b2";}
.icon-upload:before {content: "\f0b3";}
.icon-user-outline:before {content: "\f0b4";}
.icon-user:before {content: "\f0b5";}
.icon-webdav:before {content: "\f0b6";}
.icon-wiki-edit:before {content: "\f0b7";}
.icon-wiki:before {content: "\f0b8";}
