
// Labels
.label {
  line-height: 1.2;

  padding: 10px 5px;

  text-align: center;

  abbr {
    display: block;

    cursor: default;
    text-decoration: none;
  }

  em, strong, small {
    display: block;
  }

  em, strong {
    font-size: 1.2em;
    font-style: inherit;
  }

  small {
    font-size: 0.8333em;
  }
}

.label {
  background: #000;
}
