
/*Menu layouts*/

.menu ul, .menu ol, ul.menu, ol.menu {
  list-style: none;
}

.menu ul, .menu ol, ul.menu, ol.menu {
  padding-left: 0;
}

.menu ul.left {
  float: left;
  clear: right;
}

.menu ul.right, .menu ul.last {
  float: right;
  clear: right;
}

ul.menu.images > li {
  min-height: 30px;
  margin: 5px 5px 10px 5px;

  > a {
    display: block;
    min-height: 30px;
    padding: 0 10px 0 0;

    > img, > span {
      display: inline-block;
    }

    > span {
      padding-top: 0.4em;
    }
  }
}

/*List layouts*/

ul.breathe {
  padding-left: 0;

  list-style: none;

  li {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
  }

  &.menu {
    li {
      margin-top: 0;
      margin-bottom: 0;
      a {
        padding: 0.5em 10px;
      }
    }
  }
}

/*Inline list layouts*/

ul.inline, ol.inline {
  padding-left: 0;

  list-style: none;
}

ul.inline > li, ol.inline > li, ul.inline > li > a, ol.inline > li > a {
  display: inline-block;
}

ul.inline > li, ol.inline > li {
  margin-right: 1em;
}

ul.inline.right > li, ol.inline.right > li {
  margin-right: 0;
  margin-left: 1em;
}

dl.inline > dt, dl.inline > dd {
  float: left;
  clear: right;
}

dl.inline > dt {
  margin-top: 0;
}

ul.stack {
  padding-left: 0;

  list-style: none;
}

/*All menus*/

.menu li, .menu li a {
  display: block;
}

.menu li.hidden {
  display: none;
}

.menu li a {
  padding: 5px 10px 5px 5px;
}

/*Inline menus layout*/
ul.menu.inline > li > a, .menu ul.inline > li > a {
  padding: 0;
}

/*Condensed menu layout*/
.menu.condensed li a {
  padding-top: 2px;
  padding-bottom: 2px;
}

/*Menus with icons*/
.menu.icons li a {
  padding: 5px 10px 5px 30px;
}

ul.menu, .menu ul, ol.menu, .menu ol {
  > li {
    a {
      &:hover {
        background-color: #e7e9eb;
      }
    }
  }
}

ul.menu ul, .menu ul ul, ol.menu ul, .menu ol ul, ul.menu ol, .menu ul ol, ol.menu ol, .menu ol ol {
  background: transparent;
}
