.menu {
  padding-left: 0;
  list-style: none;

  li {
    margin: 0;

    &, a {
      display: block;
    }
  }

  &.menu-inline > li {
    display: inline-block;
    margin-right: 1em;
  }

  &.menu-right > li {
    margin-right: 0;
    margin-left: 1em;
  }

  // Stack Menu

  &.menu-stack {
    background-color: #fff;

    .avatar {
      margin-right: 10px;
    }
  }

  &.menu-stack > li {
    padding: 5px 0;
    cursor: pointer;

    a, label {
      display: block;
      margin-bottom: 0;
      padding: 0 15px;
      color: $alt-link-color;
    }

    a:hover, label:hover {
      color: $alt-link-hover-color;
      text-decoration: none;
    }

    &:hover {
      background-color: #f1f1f1;
    }

    &.divider {
      padding: 0;
      border-bottom: 1px solid #ededed;
    }
  }

  // List Menu - No gray background hover

  &.menu-list {
    background-color: #fff;

    .avatar {
      margin-right: 10px;
    }
  }

  &.menu-list > li {
    position: relative;
    padding: 5px 0;
    cursor: default;

    a, label {
      display: block;
      margin-bottom: 0;
      color: $alt-link-color;
    }

    a:hover, label:hover {
      color: $alt-link-hover-color;
      text-decoration: none;
    }
  }

  // List Link Menu - No gray background hover but cursor pointer

  &.menu-list-link {
    background-color: #fff;

    .avatar {
      margin-right: 10px;
    }
  }

  &.menu-list-link > li {
    position: relative;
    padding: 5px 0;
    cursor: pointer;

    &:hover {
      color: $alt-link-hover-color;
      text-decoration: none;
    }
  }

  &.menu-large {
    min-width: 348px;
    max-height: 425px;

    > li {
      padding: 7px 0;
    }
  }

  // Tab Menus

  .menu-tab-list {
    margin: 0;
  }

  .menu-tab-panel {
    background-color: #fff;

    [active=true] {
      width: 100%;
    }
  }

  // Normal Tab Menu

  &.menu-tabs .menu-tab {
    margin: 0;
    padding: 10px 25px;
    border-top: 4px solid #fafafa;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #fafafa;
    color: #5d5f68;
    text-decoration: none;

    [active=true] {
      border-top: 4px solid #cb6654;
      background-color: #fff;
      color: #cb6654;
    }

    &:hover {
      color: $darker;
    }
  }

  &.menu-tabs .menu-tab-panel {
    border-radius: 0 5px 5px;
  }

  // Alternative Tab Menu

  &.menu-tabs-alt {
    background-color: #fff;
  }

  &.menu-tabs-alt .menu-tab-list {
    margin-bottom: 10px;

    &.border-bottom {
      border-bottom: 1px solid #ededed;
    }
  }

  &.menu-tabs-alt .menu-tab {
    display: inline-block;
    margin: 0 20px 0 0;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    color: #5d5f68;
    line-height: 30px;
    text-decoration: none;

    &:hover {
      color: $darker;
    }

    &[active=true] {
      border-color: #cb6654;
      color: #cb6654;
    }
  }

  &.menu-tabs-alt .menu-tab-panel {
    background: none;
  }

  // Sidebar Menu

  &.menu-sidebar {

    a {
      height: 36px;
      padding-left: 20px;
      color: #abacb0;
      font-size: 12px;
      line-height: 35px;
      overflow: hidden;
    }

    a:hover {
      color: #fff;
      text-decoration: none;
    }

    .active a {
      background: #000;
      color: #fff;
    }

    .active {
      background: #000;
      color: #fff;
    }

    .active > ul {
      display: block;
    }

    i {
      width: 14px;
      margin-right: 11px;
      font-size: 14px;
      text-align: left;
    }

    .icon-interaction-left {
      margin-right: 0;
      margin-left: 3px;
    }

    .icon-interaction-right {
      margin-right: 0;
      margin-left: 3px;
    }

    // Sidebar Menu Sub-item

    ul {
      display: none;
      margin: 0;
    }

    ul a {
      padding-left: 48px;
      line-height: 24px;
      text-transform: initial;
    }

    ul i {
      width: 5px;
      margin-right: 0;
      font-size: 10px;
      vertical-align: top;
    }
  }
}
