.menu {
  padding-left: 0;
  list-style: none;

  li {
    margin: 8px 0;

    &, a {
      display: block;
    }
  }

  &.menu-inline > li {
    display: inline-block;
    margin-right: 1em;
  }

  &.menu-right > li {
    margin-right: 0;
    margin-left: 1em;
  }

  // Stack Menu

  &.menu-stack {
    background-color: #fff;
  }

  &.menu-stack > li, &.menu-stack > li {
    a, label {
      display: block;
      padding: 10px 25px;
      cursor: pointer;
      color: $alt-link-color;
      font-weight: bold;
    }

    a:hover, label:hover {
      background-color: #f1f1f1;
      color: $alt-link-hover-color;
      text-decoration: none;
    }
  }

  // Tab Menus

  .menu-tab-list {
    margin: 0;
  }

  .menu-tab-panel {
    display: none;
    background-color: #fff;

    &.active {
      display: inline-block;
      width: 100%;
    }
  }

  // Normal Tab Menu

  &.menu-tabs .menu-tab {
    display: inline-block;
    margin: 0;
    border-top: 4px solid #fafafa;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #fafafa;

    &.active {
      border-top: 4px solid #da8572;
      background-color: #fff;
    }

    &.active a, &.active a:hover {
      color: #da8572;
    }

    a {
      padding: 10px 25px;
      color: #5d5f68;
      text-decoration: none;
    }

    a:hover {
      color: #181c1e;
    }
  }

  &.menu-tabs .menu-tab-panel {
    border-radius: 0 5px 5px;
  }

  // Alternative Tab Menu

  &.menu-tabs-alt {
    background-color: #fff;
  }

  &.menu-tabs-alt .menu-tab-list {
    padding: 0 25px;
  }

  &.menu-tabs-alt .menu-tab {
    display: inline-block;
    margin: 0 20px 0 0;
    border-bottom: 2px solid transparent;

    a {
      color: #5d5f68;
      line-height: 43px;
      text-decoration: none;
    }

    a:hover {
      color: #181c1e;
    }

    &.active {
      border-color: #da8572;
    }

    &.active a, &.active a:hover {
      color: #da8572;
    }
  }

  // Sidebar Menu

  &.menu-sidebar {
    li {
      margin: 0;
    }

    a {
      padding-left: 20px;
      color: $alt-link-color;
      line-height: 40px;
      text-transform: uppercase;
    }

    a:hover {
      background-color: #e7e9eb;
      text-decoration: none;
    }

    .active a {
      color: #da8572;
    }

    i {
      width: 20px;
      margin-right: 10px;
      font-size: 15px;
      text-align: center;
    }

    // Sidebar Menu Sub-item

    ul a {
      padding-left: 50px;
      text-transform: initial;
    }

    ul i {
      margin-right: 0;
      font-size: 11px;
    }
  }
}
