@mixin generate-spacing-classes(
  $spaces: (0, 5, 10, 15, 20, 25, 30),
  $directions: (all, top, right, bottom, left)
) {
  @each $direction in $directions {
    @each $space in $spaces {
      @if nth($direction, 1) == 'all' {
        .margin-#{nth($space, 1)} {
          margin: #{nth($space, 1)}px !important;
        }

        .padding-#{nth($space, 1)} {
          padding: #{nth($space, 1)}px !important;
        }

      } @else {
        .margin-#{nth($direction, 1)}-#{nth($space, 1)} {
          margin-#{nth($direction, 1)}: #{nth($space, 1)}px !important;
        }

        .padding-#{nth($direction, 1)}-#{nth($space, 1)} {
          padding-#{nth($direction, 1)}: #{nth($space, 1)}px !important;
        }
      }
    }
  }
}

@include generate-spacing-classes();
