// http://stackoverflow.com/questions/7073484/how-does-this-css-triangle-shape-work
@mixin tip-top {
  &:before, &:after {
    position: absolute;
    left: 3px;
    width: 0;
    height: 0;

    border-width: 0 5px 5px 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;

    content: '';
  }

  &:before {
    top: -6px;

    border-bottom-color: #b3bcc3;
  }

  &:after {
    top: -5px;
  }
}
