/*Basics*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp, a,
small, strong, sub, sup, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
input.text, input.password, textarea,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  vertical-align: baseline;
  background: transparent;
  border-style: solid;
}

button, input, select, textarea {
  margin: 0;
}

/*Font sizes*/

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

input.text, input.password, select, textarea {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

  input[type="text"], [type="password"] {
    font-family: inherit;
    line-height: inherit;
    color: inherit;
  }

button, input, select, textarea, pre, code, kbd, samp {
  font-size: inherit;
}

/*HTML5 elements*/

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
}

.skeleton {
  display: none;
}

[hidden] {
  display: none;
}

/*Blocks*/

html, body, div, p, li, dt, dd, th, td, caption,
h1, h2, h3, h4, h5, h6, blockquote, pre,
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary {
  word-wrap: break-word;
}

/*Widths and heights*/

button, input, select, textarea {
  max-width: 100%;
}

body {
  line-height: 1;
}

/*Quotes*/

blockquote, q {
  quotes: none;
}

  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }

/*Interaction*/

input[type="search"] {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}

/*Font styles*/

mark, strong {
  font-weight: bold;
}

em, dfn, q, blockquote {
  font-style: italic;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  text-decoration: underline;
  cursor: help;
}

/*Embedded content*/

/*Improves image quality when scaled in IE7*/
img {
  -ms-interpolation-mode: bicubic;
}

/*Corrects overflow displayed oddly in IE9*/
svg:not(:root) {
  overflow: hidden;
}

/*Defaults*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp, a,
small, strong, sub, sup, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  border-width: 0;
  border-style: solid;
  background-repeat: no-repeat;
  clear: both;
}

ol, ul {
  clear: none;
}

.clear {
  clear: both;
}

legend, .hidden {
  display: none;
}

.dry {
  text-indent: -1000em;
}

img {
  vertical-align: baseline;
}

  .image img {
    max-width: 100%;
    display: block;
  }

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*Lists*/

ul {
  list-style: disc;
  padding-left: 2em;
}

ol {
  list-style: decimal;
  padding-left: 2em;
}

  nav ul, nav ol {
    list-style: none;
    list-style-image: none;
    padding-left: 0;
  }

/*Inline*/

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/*Formatting*/

h1, h2, h3, h4, h5, strong, dt {
  font-weight: bold;
}

a {
  text-decoration: underline;
}

  a:hover {
    text-decoration: none;
  }
  
/*Tables*/

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  vertical-align: top;
}

/*Forms & interaction*/

label, button, .button {
  cursor: pointer;
}

  input[type="submit"], input[type="button"], input[type="reset"] {
    cursor: pointer;
  }
  
    .disabled input[type="submit"], .disabled input[type="button"], .disabled input[type="reset"] {
      cursor: default;
    }

    input[type="submit"].disabled, input[type="button"].disabled, input[type="reset"].disabled {
      cursor: default;
    }

  .disabled button, .disabled label, .disabled .button, .disabled a,
  button.disabled, label.disabled, .button.disabled, a.disabled {
    cursor: default;
  }

  button[disabled], input[disabled] {
    cursor: default;
  }

textarea, .textarea {
  vertical-align: top;
}

button, input, select {
  vertical-align: baseline;
}

