.stack {
  padding: 20px 20px 0;

  border-radius: 5px;

  background-color: #fff;

  &.card {
    padding: 0;

    background-color: transparent;

    .item {
      padding: 20px;

      border-radius: 5px;

      background: #fff;
    }
  }

  .item, .item:hover {
    border: 0;
  }

  .item {
    width: 240px;
    margin-right: 25px;
    margin-bottom: 20px;
    float: left;
    clear: right;

    a {
      &:hover {
        color: #181c1e;
      }
    }

    .block {
      display: block;
      padding: 0;
    }

    .push .content {
      margin-left: 50px;
    }

    .pull {
      width: 30px;
      height: 30px;

      .avatar {
        margin-top: 5px;

        &.tiny {
          margin-top: 4px;
        }
      }
    }

    .content .title {
      font-size: 14px;
      font-weight: bold;
    }

    .content .details {
      margin-top: 5px;

      color: #5d5f68;

      i.icons {
        color: #abafba;
        font-size: 12px;
      }

      .trigger i {
        padding-left: rem(5px);

        color: #5d5f68;
        font-size: 10px;
      }

      .disabled:hover {
        color: $alt-link-color;
      }
    }
  }
}
