.stack {
  padding: 20px 20px 0;
  border-radius: 5px;
  background-color: #fff;

  .item {
    width: 240px;
    margin-right: 25px;
    margin-bottom: 20px;
    float: left;
    clear: right;
  }

  .item:hover {
    .settings-link {
      display: inline-block;
    }
  }

  // Left side

  .pull {
    width: 30px;
    margin-top: 5px;
    margin-left: -100%;
    float: left;
    clear: none;
  }

  // Right side

  .push {
    width: 100%;
    float: left;
    clear: none;
  }

  .content {
    margin-left: 50px;
  }

  .title, .details {
    @extend .truncate;
  }

  .title {
    margin-top: 2px;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
  }

  // Optional icon link after title

  .settings .title {
    display: inline;
    width: auto;
    max-width: 85%;
    float: left;
  }

  .settings-link {
    display: none;
    width: 14px;
    height: 14px;
    margin-left: 8px;
    float: left;
    clear: none;
    z-index: 10;

    i {
      color: $default-link-color;
      font-weight: bold;
    }

    &:hover i {
      color: $default-link-hover-color;
    }
  }

  // Bottom part

  .details {
    display: block;
    clear: both;
    color: #5d5f68;
    font-size: 12px;

    > i, > span:not(:only-child) {
      color: #abafba;
      font-size: 11px;
    }

    > i {
      vertical-align: top;
    }

    > span:not(:only-child) {
      margin-right: 10px;
      margin-left: 5px;
    }
  }

  // Card Stack

  &.stack-card {
    padding: 0;
    background-color: transparent;

    .item {
      border-radius: 5px;
      background: #fff;
    }

    .item > a {
      display: block;
      padding: 20px;
    }
  }

  // Inline Stack

  &.stack-inline {
    .pull {
      margin-top: 0;
    }

    .content {
      line-height: 30px;
    }
  }
}
