.stack {
  padding: 20px 20px 0;
  border-radius: 5px;
  background-color: #fff;

  .item {
    width: 240px;
    margin-right: 25px;
    margin-bottom: 20px;
    float: left;
    clear: right;
  }

  // Left side

  .pull {
    width: 30px;
    margin-top: 5px;
    margin-left: -100%;
    float: left;
    clear: none;
  }

  // Right side

  .push {
    width: 100%;
    float: left;
    clear: none;
  }

  .content {
    margin-left: 50px;
  }

  .title, .details {
    @extend .truncate;
  }

  .title {
    font-size: 14px;
    font-weight: bold;
  }

  .details {
    margin-top: 5px;
    color: #5d5f68;

    > i, > span:not(:only-child) {
      color: #919aa1;
      font-size: 12px;
    }

    > i {
      vertical-align: top;
    }

    > span:not(:only-child) {
      margin-right: 8px;
      margin-left: 4px;
    }
  }

  // Card Stack

  &.stack-card {
    padding: 0;
    background-color: transparent;

    .item {
      border-radius: 5px;
      background: #fff;
    }

    .item > a {
      display: block;
      padding: 20px;
    }
  }

  // Inline Stack

  &.stack-inline {
    .pull {
      margin-top: 0;
    }

    .content {
      line-height: 30px;
    }
  }
}
