.syntax {
  // On dark background
  .hll {
    background-color: #ffc;
  }
  .c {
    /* Comment */
    color: #408080;
    font-style: italic;
  }
  .err {
    /* Error */
    border: 1px dotted #e5163d;
  }
  .k {
    /* Keyword */
    color: #738c99;
    font-weight: bold;
  }
  .o {
    /* Operator */
    color: #666;
  }
  .cm {
    /* Comment.Multiline */
    color: #408080;
    font-style: italic;
  }
  .cp {
    /* Comment.Preproc */
    color: #bc7a00;
  }
  .c1 {
    /* Comment.Single */
    color: #408080;
    font-style: italic;
  }
  .cs {
    /* Comment.Special */
    color: #408080;
    font-style: italic;
  }
  .gd {
    /* Generic.Deleted */
    color: #a00000;
  }
  .ge {
    /* Generic.Emph */
    font-style: italic;
  }
  .gr {
    /* Generic.Error */
    color: #e5163d;
  }
  .gh {
    /* Generic.Heading */
    color: #000080;
    font-weight: bold;
  }
  .gi {
    /* Generic.Inserted */
    color: #00a000;
  }
  .go {
    /* Generic.Output */
    color: #808080;
  }
  .gp {
    /* Generic.Prompt */
    color: #000080;
    font-weight: bold;
  }
  .gs {
    /* Generic.Strong */
    font-weight: bold;
  }
  .gu {
    /* Generic.Subheading */
    color: #800080;
    font-weight: bold;
  }
  .gt {
    /* Generic.Traceback */
    color: #0040d0;
  }
  .kc {
    /* Keyword.Constant */
    color: #3eafff;
    font-weight: bold;
  }
  .kd {
    /* Keyword.Declaration */
    color: #3eafff;
    font-weight: bold;
  }
  .kn {
    /* Keyword.Namespace */
    color: #3eafff;
    font-weight: bold;
  }
  .kp {
    /* Keyword.Pseudo */
  }
  .kr {
    /* Keyword.Reserved */
    color: #3eafff;
    font-weight: bold;
  }
  .kt {
    /* Keyword.Type */
    color: #b00040;
  }
  .m {
    /* Literal.Number */
    color: #666;
  }
  .s {
    /* Literal.String */
    color: #abce00;
  }
  .na {
    /* Name.Attribute */
    color: #8394a0;
  }
  .nb {
    /* Name.Builtin */
    color: #3eafff;
  }
  .nc {
    /* Name.Class */
    color: #2fde52;
    font-weight: bold;
  }
  .no {
    /* Name.Constant */
    color: #30c76f;
  }
  .nd {
    /* Name.Decorator */
    color: #a2f;
  }
  .ni {
    /* Name.Entity */
    color: #999;
    font-weight: bold;
  }
  .ne {
    /* Name.Exception */
    color: #d2413a;
    font-weight: bold;
  }
  .nf {
    /* Name.Function */
  }
  .nl {
    /* Name.Label */
    color: #a0a000;
  }
  .nn {
    /* Name.Namespace */
    font-weight: bold;
  }
  .nt {
    background-color: rgba(0, 0, 0, 0.15);
    /* Name.Tag */

    color: #8394a0;
  }
  .nv {
    /* Name.Variable */
    color: #4da9e9;
  }
  .ow {
    /* Operator.Word */
    color: #a2f;
    font-weight: bold;
  }
  .w {
    /* Text.Whitespace */
    color: #bbb;
  }
  .mf {
    /* Literal.Number.Float */
    color: #ff9500;
  }
  .mh {
    /* Literal.Number.Hex */
    color: #ff9500;
  }
  .mi {
    /* Literal.Number.Integer */
    color: #ff9500;
  }
  .mo {
    /* Literal.Number.Oct */
    color: #ff9ef9;
  }
  .sb {
    /* Literal.String.Backtick */
    color: #abce00;
  }
  .sc {
    /* Literal.String.Char */
    color: #abce00;
  }
  .sd {
    /* Literal.String.Doc */
    color: #abce00;
    font-style: italic;
  }
  .s2 {
    /* Literal.String.Double */
    color: #dbdbdb;
  }
  .se {
    /* Literal.String.Escape */
    color: #b62;
    font-weight: bold;
  }
  .sh {
    /* Literal.String.Heredoc */
    color: #abce00;
  }
  .si {
    /* Literal.String.Interpol */
    color: #b68;
    font-weight: bold;
  }
  .sx {
    /* Literal.String.Other */
    color: #3eafff;
  }
  .sr {
    /* Literal.String.Regex */
    color: #b68;
  }
  .s1 {
    /* Literal.String.Single */
    color: #dbdbdb;
  }
  .ss {
    /* Literal.String.Symbol */
    color: #dbdbdb;
  }
  .bp {
    /* Name.Builtin.Pseudo */
    color: #3eafff;
  }
  .vc {
    /* Name.Variable.Class */
    color: #4da9e9;
  }
  .vg {
    /* Name.Variable.Global */
    color: #4da9e9;
  }
  .vi {
    /* Name.Variable.Instance */
    color: #f7b763;
  }
  .il {
    /* Literal.Number.Integer.Long */
    color: #ff9500;
  }
  // On light background
  &.inverted {
    .hll {
      background-color: #ffc;
    }
    .c {
      /* Comment */
      color: #998;
      font-style: italic;
    }
    .err {
      background-color: #e3d2d2;
      /* Error */

      color: #a61717;
    }
    .k {
      /* Keyword */
      color: #000;
      font-weight: bold;
    }
    .o {
      /* Operator */
      color: #000;
      font-weight: bold;
    }
    .cm {
      /* Comment.Multiline */
      color: #998;
      font-style: italic;
    }
    .cp {
      /* Comment.Preproc */
      color: #999;
      font-style: italic;
      font-weight: bold;
    }
    .c1 {
      /* Comment.Single */
      color: #998;
      font-style: italic;
    }
    .cs {
      /* Comment.Special */
      color: #999;
      font-style: italic;
      font-weight: bold;
    }
    .gd {
      background-color: #fdd;
      /* Generic.Deleted */

      color: #000;
    }
    .ge {
      /* Generic.Emph */
      color: #000;
      font-style: italic;
    }
    .gr {
      /* Generic.Error */
      color: #a00;
    }
    .gh {
      /* Generic.Heading */
      color: #999;
    }
    .gi {
      background-color: #dfd;
      /* Generic.Inserted */

      color: #000;
    }
    .go {
      /* Generic.Output */
      color: #888;
    }
    .gp {
      /* Generic.Prompt */
      color: #555;
    }
    .gs {
      /* Generic.Strong */
      font-weight: bold;
    }
    .gu {
      /* Generic.Subheading */
      color: #aaa;
    }
    .gt {
      /* Generic.Traceback */
      color: #a00;
    }
    .kc {
      /* Keyword.Constant */
      color: #000;
      font-weight: bold;
    }
    .kd {
      /* Keyword.Declaration */
      color: #000;
      font-weight: bold;
    }
    .kn {
      /* Keyword.Namespace */
      color: #000;
      font-weight: bold;
    }
    .kp {
      /* Keyword.Pseudo */
      color: #000;
      font-weight: bold;
    }
    .kr {
      /* Keyword.Reserved */
      color: #000;
      font-weight: bold;
    }
    .kt {
      /* Keyword.Type */
      color: #458;
      font-weight: bold;
    }
    .m {
      /* Literal.Number */
      color: #099;
    }
    .s {
      /* Literal.String */
      color: #d01040;
    }
    .na {
      /* Name.Attribute */
      color: #008080;
    }
    .nb {
      /* Name.Builtin */
      color: #0086b3;
    }
    .nc {
      /* Name.Class */
      color: #458;
      font-weight: bold;
    }
    .no {
      /* Name.Constant */
      color: #008080;
    }
    .nd {
      /* Name.Decorator */
      color: #3c5d5d;
      font-weight: bold;
    }
    .ni {
      /* Name.Entity */
      color: #800080;
    }
    .ne {
      /* Name.Exception */
      color: #900;
      font-weight: bold;
    }
    .nf {
      /* Name.Function */
      color: #900;
      font-weight: bold;
    }
    .nl {
      /* Name.Label */
      color: #900;
      font-weight: bold;
    }
    .nn {
      /* Name.Namespace */
      color: #555;
    }
    .nt {
      background: none;
      /* Name.Tag */

      color: #000080;
    }
    .nv {
      /* Name.Variable */
      color: #008080;
    }
    .ow {
      /* Operator.Word */
      color: #000;
      font-weight: bold;
    }
    .w {
      /* Text.Whitespace */
      color: #bbb;
    }
    .mf {
      /* Literal.Number.Float */
      color: #099;
    }
    .mh {
      /* Literal.Number.Hex */
      color: #099;
    }
    .mi {
      /* Literal.Number.Integer */
      color: #099;
    }
    .mo {
      /* Literal.Number.Oct */
      color: #099;
    }
    .sb {
      /* Literal.String.Backtick */
      color: #d01040;
    }
    .sc {
      /* Literal.String.Char */
      color: #d01040;
    }
    .sd {
      /* Literal.String.Doc */
      color: #d01040;
    }
    .s2 {
      /* Literal.String.Double */
      color: #d01040;
    }
    .se {
      /* Literal.String.Escape */
      color: #d01040;
    }
    .sh {
      /* Literal.String.Heredoc */
      color: #d01040;
    }
    .si {
      /* Literal.String.Interpol */
      color: #d01040;
    }
    .sx {
      /* Literal.String.Other */
      color: #d01040;
    }
    .sr {
      /* Literal.String.Regex */
      color: #009926;
    }
    .s1 {
      /* Literal.String.Single */
      color: #d01040;
    }
    .ss {
      /* Literal.String.Symbol */
      color: #990073;
    }
    .bp {
      /* Name.Builtin.Pseudo */
      color: #999;
    }
    .vc {
      /* Name.Variable.Class */
      color: #008080;
    }
    .vg {
      /* Name.Variable.Global */
      color: #008080;
    }
    .vi {
      /* Name.Variable.Instance */
      color: #008080;
    }
    .il {
      /* Literal.Number.Integer.Long */
      color: #099;
    }
  }
}
