
/*Transitions*/

input.text, input.password, textarea {
  transition-delay: 0;
  transition-duration: 0.1s;
  transition-property: color, width, height;
}

a.button, a.trigger, a.icon, .menu li > a {
  transition-delay: 0;
  transition-duration: 0.1s;
  transition-property: color;
}

.effectless {
  transition-property: none;

  &.effectless:focus {
    outline: none;

    box-shadow: none;
  }
}
