
/*Transitions*/

input.text, input.password, textarea {
  transition-property: color, width, height;
  -webkit-transition-property: color, width, height;
  -moz-transition-property: color, width, height;
  -o-transition-property: color, width, height;
  -ms-transition-property: color, width, height;
  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  transition-delay: 0;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -ms-transition-delay: 0;
}

a.button, a.trigger, a.icon, .menu li > a {
  transition-property: color;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  -ms-transition-property: color;
  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  transition-delay: 0;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -ms-transition-delay: 0;
}
