/*Overall rhythm*/

html, body {
  line-height: 1.4;
}

.condensed {
  line-height: 1.2;
}

.cozy {
  line-height: 1.8;
}

blockquote, q {
  margin-right: 5px;
  padding-left: 5px;
  border-left: 2px solid #eee;
  color: #999;
  font-family: 'Georgia', serif;
}

pre, code, kbd, samp {
  padding: 2px 6px;
  border: 1px solid #dde5ea;
  border-radius: 2px;
  background: #f5f8fa;
  color: #3a4145;
  font-family: monospace;
  font-size: 12px;
}

/*Sizes*/

html {
  font-size: 100%;
}

body {
  font-size: rem(13px);
}

h1 {
  color: $darker;
  font-size: 2.8em;
}

h2 {
  color: $darker;
  font-size: 1.4em;
}

h3 {
  color: $darker;
  font-size: 1.2em;
}

h4 {
  color: $darker;
  font-size: 1.1em;
}

h5, h6 {
  font-size: 1em;
}

small, .discreet {
  font-size: 0.8667em;
}

a.discreet, input.discreet, textarea.discreet {
  font-size: inherit;
}

.highlight {
  font-size: 1.2em;
}

/*Variations*/

h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: normal;
}

a.discreet, h2.discreet, h3.discreet, h4.discreet, h5.discreet, h6.discreet {
  font-weight: inherit;
}

.required label, label.required {
  font-weight: bold;
}

.thin, .thin textarea, .thin input {
  font-weight: 300;
}

a {
  color: $default-link-color;
  text-decoration: none;

  &:hover {
    color: $default-link-hover-color;
    text-decoration: underline;
  }

  &.link-alt-hover:hover {
    text-decoration: none;
  }

  &.link-alt {
    color: $alt-link-color;

    &:hover {
      color: $alt-link-hover-color;
    }
  }

  &.link-alt-discreet {
    color: $alt-link-discreet-color;

    &:hover {
      color: $alt-link-discreet-hover-color;
    }

  }

  &.link-inherit {
    color: inherit;
    font-weight: inherit;
    text-decoration: inherit;
  }
}

.link-alt {
  color: $alt-link-color;

  > a {
    color: $alt-link-color;

    &:hover {
      color: $alt-link-hover-color;
    }
  }

  &:hover {
    color: $alt-link-hover-color;
  }
}

.link-alt-discreet {
  color: $alt-link-discreet-color;

  > a {
    color: $alt-link-discreet-color;

    &:hover {
      color: $alt-link-discreet-hover-color;
    }
  }

  &:hover {
    color: $alt-link-discreet-hover-color;
  }
}

.trigger, .profile, .undo {
  color: $alt-link-color;

  &:hover {
    color: $alt-link-hover-color;
    text-decoration: none;
  }
}

// Text alignment

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// Text transforms

.capitalize {
  text-transform: capitalize;
}

/*Responsive versions*/

/*Smaller screens*/
@media only screen and (max-width: 1023px) {
  body {
    font-size: rem(11px);
  }
}

/*Mobile*/
@media handheld, only screen and (max-width: 767px) {
  body {
    font-size: rem(11px);
    -webkit-text-size-adjust: none;
  }

  h2 {
    padding-top: 5px;
    font-size: 1.1em;
  }
}
