/*Overall rhythm*/

html, body {
  line-height: 1.4;
}

.condensed {
  line-height: 1.2;
}

.cozy {
  line-height: 1.8;
}

/*Fonts*/

@font-face {
  font-family: "deveoicons";
  src: url("../fonts/deveo_icons-200506171642.eot");
  src: url("../fonts/deveo_icons-200506171642.woff") format('woff'),
       url("../fonts/deveo_icons-200506171642.svg#deveo-icons") format('svg'),
       url("../fonts/deveo_icons-200506171642.otf") format('opentype'),
       url("../fonts/deveo_icons-200506171642.ttf") format('truetype');
}

/* Webfont: LatoLatinLight-Regular */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-light-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-light-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-light-webfont.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Regular */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-regular-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-regular-webfont.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatinSemBd-Regular */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-semibold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato-semibold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-semibold-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-semibold-webfont.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

html, input {
  font-family: 'Lato', 'Lucida Grande', 'Segoe UI', 'Arial', sans-serif;
}

blockquote, q {
  font-family: 'Georgia', serif;
}

i.icons {
  display: inline-block;

  color: inherit;
  font-family: deveoicons;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  text-align: center;

  &.hidden {
    display: none;
  }

  &.icon-small {
    font-size: 11px;
  }

  &.icon-medium {
    font-size: 16px;
  }

  &.icon-large {
    font-size: 20px;
  }

  &.icon-xlarge {
    font-size: 22px;
  }

  &.black {
    color: $black;
  }

  &.blue {
    color: $blue;
  }

  &.blue2 {
    color: $blue2;
  }

  &.dark {
    color: $dark;
  }

  &.darker {
    color: $darker;
  }

  &.grey {
    color: $grey;
  }

  &.grey2 {
    color: $grey2;
  }

  &.white {
    color: $white;
  }

  &.red {
    color: $red;
  }

  &.red2 {
    color: $red2;
  }

  &.green {
    color: $green;
  }

  &.green2 {
    color: $green2;
  }

  &.purple {
    color: $purple;
  }
}

pre, code, kbd, samp {
  font-family: monospace;
}

/*Sizes*/

html {
  font-size: 100%;
}

body {
  font-size: rem(13px);
}

h1 {
  font-size: 2.8em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.1em;
}

h5, h6 {
  font-size: 1em;
}

small, .discreet {
  font-size: 0.8667em;
}

a.discreet, input.discreet, textarea.discreet {
  font-size: inherit;
}

.highlight {
  font-size: 1.2em;
}

/*Variations*/

h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: normal;
}

a.discreet, h2.discreet, h3.discreet, h4.discreet, h5.discreet, h6.discreet {
  font-weight: inherit;
}

b, strong {
  font-weight: bold;
}

.required label, label.required {
  font-weight: bold;
}

.thin, .thin textarea, .thin input {
  font-weight: 300;
}

a {
  color: $default-link-color;
  text-decoration: none;

  &:hover {
    color: $default-link-hover-color;
    text-decoration: underline;
  }

  &.link-alt-hover:hover {
    text-decoration: none;
  }

  &.link-alt {
    color: $alt-link-color;

    &:hover {
      color: $alt-link-hover-color;
    }
  }

  &.link-alt-discreet {
    color: $alt-link-discreet-color;

    &:hover {
      color: $alt-link-discreet-hover-color;
    }

  }

  &.link-inherit {
    color: inherit;
    font-weight: inherit;
    text-decoration: inherit;
  }
}

.link-alt {
  color: $alt-link-color;

  > a {
    color: $alt-link-color;

    &:hover {
      color: $alt-link-hover-color;
    }
  }

  &:hover {
    color: $alt-link-hover-color;
  }
}

.link-alt-discreet {
  color: $alt-link-discreet-color;

  > a {
    color: $alt-link-discreet-color;

    &:hover {
      color: $alt-link-discreet-hover-color;
    }
  }

  &:hover {
    color: $alt-link-discreet-hover-color;
  }
}

.trigger, .profile, .undo {
  color: $alt-link-color;

  &:hover {
    color: $alt-link-hover-color;
    text-decoration: none;
  }
}

// Text alignment

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// Text transforms

.capitalize {
  text-transform: capitalize;
}

/*Responsive versions*/

/*Smaller screens*/
@media only screen and (max-width: 1023px) {
  body {
    font-size: rem(11px);
  }
}

/*Mobile*/
@media handheld, only screen and (max-width: 767px) {
  body {
    font-size: rem(11px);

    -webkit-text-size-adjust: none;
  }
}
