.clearfix:after {
  display: table;
  clear: both;
  content: '';
}

// Floats

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

// General

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.disabled-alt {
  cursor: not-allowed;
  opacity: 1;
  pointer-events: none;
}

.hidden {
  display: none !important;
}

.divider {
  margin: 15px 0;
  border-bottom: 1px solid #f1f1f1;
}


.blank-slate {
  margin: 0;
  padding: 20px;
  border: 1px solid #ededed;
  border-radius: 2px;
}
