$default-font-size: 16px;
$default-link-color: #269fe5;
$default-link-hover-color: #33aff6;
$default-link-visited-color: #3694ec;
$alt-link-color: #5d5f68;
$alt-link-hover-color: #181c1e;
$active-color: #cb6654;
$black: #000;
$blue: #3589c4;
$blue2: #87bbd6;
$dark: #29587a;
$darker: #142630;
$grey: #8394a0;
$grey2: #9094a3;
$white: #fff;
$red: #d87f6f;
$red2: #da9d9d;
$green: #22d792;
$green2: #8ec2b0;
$purple: #ad91cb;
