$default-font-size: 16px;
$default-link-color: #269fe5;
$default-link-hover-color: #33aff6;
$default-link-visited-color: #3694ec;
$alt-link-color: #5d5f68;
$alt-link-hover-color: #181c1e;
$active-color: #cb6654;
